.home-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  .portrait {
    width: 275px;
    border-radius: 8px;
  }
  .home-text-container {
    position: relative;
    left: 30px;
    .title-block {
      h2 {
        font-family: 'Playfair Display', serif;
      }
      h4 {
        font-family: 'Quicksand', sans-serif;
      }
    }
    .intro {
      font-family: 'Raleway', sans-serif;
    }
  }
}