.contact-container {
  width: 80%;
  padding-top: 2%;
  padding-bottom: 4.5%;
  margin: 0 auto;
  .contact-header {
    font-family: 'Playfair Display', serif;
  }
  textarea {
    height: 125px;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  button {
    span.submit-text {
      color: black;
      font-family: 'Raleway', sans-serif;
    }
    i.fa-paper-plane {
      color: black;
    }
  }
}