<div class="contact-container">
  <h4 class="contact-header">Contact Me</h4>
  <div class="row">
    <form class="col s12">
      <div class="row">
          <label for="name">Name *</label>
          <input type="text" Name="name" id="name" class="validate" placeholder="Name">
      </div>
      <div class="row">
        <label for="email">Email * </label>
        <input type="text" Name="email" id="email" placeholder="Email" />
      </div>
      <div class="row">
        <label for="email">Subject * </label>
        <input type="text" Name="subject" id="subject" placeholder="Subject" />
      </div>
      <div class="row">
        <label for="message">Message *</label>
        <textarea placeholder="Type your message here..."></textarea>
        <button class="btn waves-effect grey lighten-5" type="submit" name="action">
          <span class="submit-text">Submit </span>
          <i class="far fa-paper-plane"></i>
        </button>
      </div>
    </form>
  </div>
</div>