<footer>
  <span class="socials">
    <a class="social-links" href="https://www.linkedin.com/in/quyen-huynh/"><i class="fab fa-linkedin-in"></i> LinkedIn </a>
    <a class="social-links" href="https://github.com/QuyenHuynh"><i class="fab fa-github"></i> GitHub </a>
    <a class="social-links" href="https://www.instagram.com/vsleepygirl/?hl=en"><i class="fab fa-instagram"></i> Instagram </a>
  </span>
  <span class="copyright"> Made with <3 by Quyen Huynh | quyenh@hotmail.com | 678.620.8670</span>
</footer>