<div class="resume-container">

  <div class="resume-header-container">
    <h4 class="resume-header">Resume</h4>
    <a href="assets/pdfs/Quyen_Huynh_Resume.pdf" download target="_blank" class="resume-download">
      <i class="fas fa-file-download"></i> Download the pdf file
    </a>
  </div>

  <div class="resume-section-container">
    <h6 class="resume-sections">Education/Certifications</h6>
    <hr>
    <p class="resume-entry">Bachelor of Science in Computer Science
      <span>8/2015 - 8/2020</span>
    </p>
    <ul>
      <li>Georgia State University</li>
    </ul>

    <p class="resume-entry">Certificate in Full Stack Web Development
      <span>1/2019 - 7/2019</span>
    </p>
    <ul>
      <li>Georgia Institute of Technology, Coding Boot Camp</li>
    </ul>
  </div>

  <div class="resume-section-container">
    <h6 class="resume-sections">Experience</h6>
    <hr>
    <p class="resume-entry">Software Engineer Intern
      <span>12/2019 - current</span>
    </p>
    <p class="company-name">NetDocuments Inc. | Alpharetta, GA</p>
    <ul>
      <li>
        Created proof-of-concept prototype applications for demonstration and evaluation purposes with goals of code
        abstraction, stability, and reuse.
      </li>
      <li>
        Developed a number of features such as a new UI flow for document uploads, user avatars, and e-signature for
        NetDocuments' award-winning collaboration technology, ndThread.
      </li>
      <li>
        Utilized wide range of development tools, including Angular Frontend Framework, Ruby, and Redis database.
      </li>
    </ul>
  </div>

  <div class="resume-section-container">
    <h6 class="resume-sections">Technical Skills</h6>
    <hr>
    <ul>
      <li><span class="skill-category">Languages: </span> JavaScript, Java, Python, HTML5, CSS3</li>
      <li><span class="skill-category">Frameworks: </span> Angular, React, jQuery, Node, Express</li>
      <li><span class="skill-category">Databases: </span> Firebase, MySQL, MongoDB, Redis</li>
      <li>UI/UX Prototyping with Adobe XD</li>
    </ul>
  </div>
</div>