<div class="portfolio-container">
  <div class="row">
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/Article-Search" target="_blank">
          <img src="../../../assets/images/article-search.gif">
        </a>
        <h5 class="project-header">NYT Article Search</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/Crystal-Collector-Game" target="_blank">
          <img src="../../../assets/images/crystal-collector.png">
        </a>
        <h5 class="project-header">Crystal Collector</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/liri_node_app" target="_blank">
          <img src="../../../assets/images/liri.png">
        </a>
        <h5 class="project-header">LIRI Node</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/Trivia-Game" target="_blank">
          <img src="../../../assets/images/triviagame.jpg">
        </a>
        <h5 class="project-header">Art Trivia</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/Word-Guess-Game" target="_blank">
          <img src="../../../assets/images/wordguessgame.jpg">
        </a>
        <h5 class="project-header">Word Guess</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/Tip-Calculator" target="_blank">
          <img src="../../../assets/images/tip-calc.png">
        </a>
        <h5 class="project-header">Tip Calculator</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/Friend-Finder" target="_blank">
          <img src="../../../assets/images/friendfinder.png">
        </a>
        <h5 class="project-header">Friend Finder</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <a href="https://github.com/QuyenHuynh/React-Memory-Game" target="_blank">
          <img src="../../../assets/images/memory-game.png">
        </a>
        <h5 class="project-header">Memory Game</h5>
        <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
          nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
      </div>
    </div>
  </div>

  <!-- <div class="content">
    <img src="https://via.placeholder.com/150" alt="Bear" style="width:100%">
    <h5 class="project-header">Some Other Work</h5>
    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam.
      Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam.
      Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
  </div> -->
</div>